body, html{
    margin: 0;
    padding: 0;
}

input{
    display:block;
}

#maindiv {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
}

#leftdiv{
    width: 33vw;
    background-image: url("https://static.wikia.nocookie.net/cyberpunk/images/1/1c/NC-Profile-2077-Placeholder.jpg/revision/latest?cb=20200501024902");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    flex-grow: 1
}

#leftshade{
    background-color: rgba(0,0,0,0.5);
    width: 33vw;
    height: 20vh;
    position: relative;
    top: 20vh;
    
}

#logo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 80%;
    width: 80%;

}

#rightdiv{
    width: 67vw;
    background-color: gray;
    margin: 0;
    flex-grow: 1
}

#formmain{
    display: flex;
}